/* =====================
    Element Styles
 ======================*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #494844;
    color: whitesmoke;
    background-image: url(img/whiskeybg.jpg);
    background-position: 50% 75%;  
    background-size: cover;
}

li {
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.column,
.banner{
    border: 2px solid wheat;
    background: rgb(46, 44, 44, .7);
}

p {
    font-size: .8em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid wheat;
}

h3 {
    padding-left: 10px;
}
/* =====================
    Layout Styles
 ======================*/

 .main-header {
    background-image: url("img/stavesbg.jpg");
    max-width: 100%;
    height: 10%;
    background-repeat: repeat-x;
    padding-top: .5em;
}

.nav-flex-list {
    display: block;
    background-color: #141313;

}

.nav-flex-item {

    padding: 25px 0px;
    text-align: center;
    border-bottom: 2px solid oldlace;
    border-top: 2px solid oldlace;
}

.nav2 {
    padding-top: 1.1em;
}

nav a {
    color: whitesmoke;
    text-transform: uppercase;
}

nav a:hover {
    color: #e35f21;
    font-size: 1.2em;
    text-shadow: #5c5a54;
}

.banner {
    margin: 25px 0px;
}

 .banner,
 .main-footer {
    text-align: center;
 }

.letterLink {
    color: lightblue;
}

.letterLink:hover {
    color: orange;
}

.main-footer {
    background-color: black;
    color: white;
    padding: 1.6em 0;
    margin-top: 60px;
    position: auto;
}

.quiz-description {
    background-color: rgb(0,0,0,.7);
    text-align: center;
}

.slide {
position: absolute;

left: 0px;
top: 0px;
width: 100%;
z-index: 1;
opacity: 0;
transition: opacity 0.5s;
}

.active-slide{
    opacity: 1;
    z-index: 2;
    background-color:rgb(0, 0, 0, .7);
    text-align: center;
    font-weight: bold;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

.question {
    padding-bottom: 15px;
} 

.answers label {
    display: block;
    padding: 5px;
}

#quiz {
    background: rgba(0, 0, 0, .7);
    text-align: center;
}
/* =====================
    Media Queries
 ======================*/

@media (min-width: 769px) {
    
    body {
        background-image: url(img/barrelbg.jpg);
        background-size: initial;
        background-position: center 25%;
    }

    .logo img {
        margin-left: 15px;
    }

    .nav-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

    }

    .nav-flex-list {
        display: flex;
        background: black;
        border: 2px outset wheat;
        margin-right: 15px;

    }

    .nav2 {
        padding: 0;
    }

    .nav-flex-item {
        padding: 0 0 5px;
        margin: 25px;
        border-top: none;
    }


    .main-header {
        height: 215px;
        padding-bottom: 1.5em;
        border-bottom: 2px solid wheat;
    }

    .logo {
        background-size: cover;
        background-position: center;
    }


    .whiskeys {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: space-between;
    }
    .column {
        flex-basis: 45%;
    }

    .column:nth-of-type(1) { order: 1; }
    .column:nth-of-type(2) { order: 2; }
    .column:nth-of-type(3) { order: 3; }
    .column:nth-of-type(4) { order: 4; }

}

 @media (min-width: 1440px) {


    .column {
        flex-basis: 22%;
    }

    .column:nth-of-type(1) { order: 1; }
    .column:nth-of-type(2) { order: 4; }
    .column:nth-of-type(3) { order: 2; }
    .column:nth-of-type(4) { order: 3; }
 }